<app-navbar>
    <div class="container-fluid">
        <div class="h-100 w-100">
            <div class="row g-1 h-100">
                <div class="col-sm-3">
                    <div class="h-100 w-100">
                        <div class="block-container container-outlined h-100">
                            <ng-container *ngFor="let blocks of availableBlocks">
                                <mat-accordion class="accordion">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header class="accordionTitle">
                                            <mat-panel-title>
                                                {{blocks.name}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="accordionItem accordionItemCollapsed"
                                            *ngFor="let data of blocks.blockData" >
                                            <p class="container-outlined h-100 w-100 my-1" (mouseup)="addNode($event, data)">
                                                {{data.data.id}}
                                            </p>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="h-100 w-100">
                        <div id="cy"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</app-navbar>