<app-navbar>
    <div class="container-fluid">
        <div class="h-100 w-100">
            <div class="row g-0 p-2 h-100">
                <div class="col-sm-3">
                    <div class="accordion">
                        <div class="block-container container-outlined h-100">
                            <mat-accordion multi>
                                <mat-expansion-panel expanded>
                                    <mat-expansion-panel-header class="accordionTitle">
                                        <mat-panel-title>
                                            API
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <span class="accordionItem accordionItemCollapsed">
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of API
                                        </p>
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of API
                                        </p>
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of API
                                        </p>
                                    </span>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="accordionTitle">
                                        <mat-panel-title>
                                            SQL Operations
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <span class="accordionItem accordionItemCollapsed">
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of SQL codes
                                        </p>
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of SQL codes
                                        </p>
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of SQL codes
                                        </p>
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of SQL codes
                                        </p>
                                    </span>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="accordionTitle">
                                        <mat-panel-title>
                                            Others
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <span class="accordionItem accordionItemCollapsed">
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of API
                                        </p>
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of API
                                        </p>
                                        <p class="container-outlined h-100 w-100">
                                            Your blocks of API
                                        </p>
                                    </span>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">

                </div>

            </div>
        </div>
    </div>
</app-navbar>